@inject IJSRuntime JS

<style>
    .report-container {
        max-height: 500px; /* Set the maximum height to your desired value */
        overflow-y: auto;
    }
</style>

<MudDialog>
    <DialogContent>
        <div class="report-container">
            <pre>@content</pre>
        </div>
    </DialogContent>
    <DialogActions>
        <div style="background-color: lightblue; display: flex; gap: 1rem; padding: 1rem;">
            <MudButton Color="Color.Primary" OnClick="@Print">Print</MudButton>
            <MudText>Test Text</MudText>
            <MudButton Color="Color.Secondary" OnClick="@Ok">Close</MudButton>
        </div>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter] public string content { get; set; }

    private MudButton printButton;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Console.WriteLine(content);
        ReportText = content;
        if (printButton != null)
        {
            Console.WriteLine("Print button found");
        }
    }

    private string ReportText;

    private async Task Print()
    {
        await JS.InvokeVoidAsync("printContent", content);
    }

    private void Ok()
    {
        MudDialog.Close(DialogResult.Ok(true));
    }
}
